<nav class="navbar navbar-inverse">
  <div class="navbar-header visible-xs" data-target="#menu" data-toggle="collapse">
    <div class="navbar-brand">
      Menu
    </div>
    <button class="btn navbar-btn navbar-toggle">
      <div class="icon-bar"></div>
      <div class="icon-bar"></div>
      <div class="icon-bar"></div>
    </button>
  </div>
  <div id="menu" class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
      <li{% if page.url == '/index.html' %} class="active"{% endif %}>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="{{ site.data.urls.portal }}" target="_blank">Patient Portal</a>
      </li>
      <li{% if page.url == '/providers.html' %} class="active"{% endif %}>
        <a href="/providers.html">Providers</a>
      </li>
      <li{% if page.url == '/forms.html' %} class="active"{% endif %}>
        <a href="/forms.html">Patient Info / Forms</a>
      </li>
      <li{% if page.url == '/location_hours.html' %} class="active"{% endif %}>
        <a href="/location_hours.html">Location / Hours</a>
      </li>
      <li{% if page.url == '/contact.html' %} class="active"{% endif %}>
        <a href="/contact.html">Contact Us</a>
      </li>
    </ul>
  </div>
</nav>
