<div id="sidebar">
  <div id="portal" {% if page.url == '/index.html' %}class="hidden-xs"{% endif %}>
    <a href="{{ site.data.urls.portal }}" target="_blank">
      <img src="/images/portal.png"/>
    </a>
  </div>

  <div id="contact_info" class="well">
    <h3>Contact Information</h3>
    <address>
      <strong>Cartersville Family Medicine</strong><br>
      17 Collins Drive<br>
      Cartersville, GA 30120<br>
      <br>
      <i class="fa fa-fw fa-phone" title="Phone"></i> (770) 386-9390<br>
      <i class="fa fa-fw fa-print" title="Fax"></i> (770) 386-0212
    </address>
  </div>

  <div id="office_hours" class="well">
    <h3>Office Hours</h3>
    <div class="table-responsive">
      <table class="table table-condensed">
        <tbody>
          {% for office_hour in site.data.office_hours %}
            <tr>
              <td>{{ office_hour.day }}</td>
              <td>{{ office_hour.hours }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <div id="healow">
    <a href="{{ site.data.urls.healow }}" target="_blank">
      <img src="/images/healow.png"/>
    </a>
  </div>
</div>
