#footer
  p.text-center The company does not discriminate on the basis of race, color, national origin, sex, age, or disability in health programs and activities.

  if process.env.NODE_ENV === 'development'
    #debug.well
      | layout: #{page.layout}
      br
      | title: #{page.title}
      br
      | url: #{page.url}
