#header.container
  .row
    .col-sm-4
      img(src=data.images.logo)
    #appointments.col-sm-4.col-sm-offset-4.hidden-xs
      .well
        p
          | For Appointments Call
          br
          | 770-386-9390
