extends layouts/page.pug

block vars
  - var page = { layout: 'page.pug', title: 'Home', url: '/' }

block section
  #home
    p.visible-xs
      a(href=data.urls.portal target='_blank')
        img(src=data.images.portal)
    p
      img(src=data.images.building)
    p
      | Cartersville Family Medicine was established in October 2001. Since that time, we have grown from an office at Cartersville Medical Center to our present location. Our office provides easy access for our patients. Cartersville Family Medicine is designed to provide primary care needs for patients beginning at age seven.
    p.quote
      | &quot;We always strive to treat each patient as if they were a member of our family.&quot;
