extends layouts/page.pug

block vars
  - var page = { layout: 'page', title: 'Providers', url: '/providers.html' }

block section
  #providers
    h3 Benjamin R. Smith, MD
    p
      strong Board Certified in Family Medicine
    .row
      .col-sm-4.col-sm-push-8
        p
          img(src=data.images.drSmith)
      .col-sm-8.col-sm-pull-4
        p Dr. Smith received his medical degree from Medical College of Georgia in Augusta, GA. He completed family medicine residency at Medical College. He is board certified by the American Board of Family Medicine.
        p His special interests include the care of diabetes, heart disease, high blood pressure, and acute illnesses.
        p He is married with two children, and enjoys spending time with his family and activities with his church.

    h3 Lorna K. Wilson, FNP-C
    .row
      .col-sm-4
        p
          img(src=data.images.lorna)
      .col-sm-8
        p Lorna Wilson is a board certified Family Nurse Practitioner with a Master of Science in Nursing degree. She obtained her Bachelor of Science in Nursing degree from the University of Louisville in Louisville, Kentucky. She then attended the University of Cincinnati's Family Nurse Practitioner program in Cincinnati, Ohio. She is continuing her education in the University of Alabama's Bama by Distance program to earn her Doctorate in Nursing Practice degree at this time.
        p Lorna joined the team at Cartersville Family Medicine after her daughter, Eleanor, was born. She enjoys attending and serving at church, family activities, and running with Eleanor and RoLo (Siberian Husky) in tow.
        p Lorna's special interests are preventative medicine and patient education.
